/*  UTILITIES */
.debug{
    background-color: greenyellow;
    border: 1px solid black;
}
/*  GENERAL */

body {
    font-family: 'Lato', sans-serif;
    
}

main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        to bottom, 
        #009688 0%,
        #009688 15%,
        #dadbd3 15%,
        #dadbd3 100%

    );
}
/* /GENERAL */

/* APP */

.main-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    height: 95%;
    width: 90%;
    margin: 0 auto;

    /* color debug */
    background-color: white;
}
.chat-nav-left {
    width: 30%;
    height: 100%;

    /* color debug */
    background-color: aquamarine;
}
.chat-display-right {
    width: 70%;
    height: 100%;
    
    /* color debug */
    background-image: url('../img/mine.jpg');
}

/* APP HEADER */
.app-header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #eaeaea;
}
.user-pic {
    width: 45px;
    margin-right: 10px;
    
}
.user-pic img {
    width: 100%;
    border-radius: 50%;
}

.app-header .head-actions i {
    margin-left: 15px;
    font-size: 1.2rem;
    color: #b1b1b1;
    cursor: pointer;
}
.chat-nav-left .app-header {
    border-right: 1px solid #b1b1b1;
}
/* /APP HEADER */

/* NOTIFICATION WARNING */
.notice-warn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #8edafc;

}
.notice-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}
.notice-img i {
    font-size: 1.3rem;
    color: #83d4fa;
}
.notif-text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.notice-text{
    font-size: .9rem;
}
.notice-link {
    font-size: .7rem;
    cursor: pointer;
    text-decoration: underline;
}
/* //NOTIFICATION WARNING */